.loginLabel {
    background-color: white;
    width:120px;
    height:20px;
    border-radius: 8px;
    
}

.loginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85em;
       
}

.loginBtn {
    background-color:white  ;
    color:#004AAD !important;
    font-family: sans-serif;
    height: 50px;
    width: 25%;
    font-size:100%;
    border-radius: 25px;
    border:#FF60BF 2px solid;
    margin: 10px;
    transition-duration: 0.4s;
    padding: 2px;
}

.loginBtn:hover{
    background-color: #0dcaf0; 
    color: white;
}
.loginHeader {
    font-weight: bolder;
    font-style:italic;
    background-color: white;
    width:128px;
    height:60px;
    border-radius: 8px;

}


.inputDiv {
    display: flex;
    flex-direction: column;
    width:30%;
    height: 800px;
    padding: 30px;
    border-radius: 10px;
    font-family: sans-serif; 
    font-weight: bolder;
    font-size: large;
    
}
.loginbuttondiv{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.loginText {
    text-align: center;
    
}

.loginImage {
    max-width: 341px !important;


}

.emailInput {
    max-width: 400px !important;
}

.loginheader {
    font-size: 60px;
}

.headerDiv {
    text-align: -webkit-center;
}

.loginImageDiv {
    text-align: -webkit-center;
}

.mb-3 {
    text-align: -webkit-center !important;
}
