.loginLabel {
    background-color: white;
    width:120px;
    height:20px;
    border-radius: 8px;
    
}

Container fluid {
    display: flex;
    flex-direction: column;
       
}

Button {
    background-color:#004AAD ;
    color: #FF60BF;
    font-family: sans-serif;
    font-weight: bolder;
    height: 50px;
    width: 150px;
    font-size:20px;
    border-radius: 25px;
}
.loginHeader {
    font-weight: bolder;
    font-style:italic;
    background-color: white;
    width:128px;
    height:60px;
    border-radius: 8px;

}

.loginBody {
    background-image:url('./images/family_adventure.png') ;
    background-size: cover;

}
.inputDiv {
    display: flex;
    flex-direction: column;
    width:30%;
    height: 800px;
    padding: 30px;
    border-radius: 10px;
    font-family: sans-serif; 
    font-weight: bolder;
    font-size: large;
    
}
.loginbuttondiv{
    display: flex;
}