.signuplabel {
    padding: 10px;
}


.signupBtn {
    background-color:white  ;
    color:#004AAD !important;
    font-family: sans-serif;
    height: 50px;
    width: 25%;
    font-size:100%;
    font-weight: bold;
    border-radius: 25px;
    border:#FF60BF 2px solid;
    margin: 10px;
    transition-duration: 0.4s;
    padding: 2px;
}

.signupBtn:hover {
    background-color: #0dcaf0; 
    color: white;
}
.signupHeaderDiv{
    text-align: -webkit-center;
}

.signUpheader {
    font-size: 40px;
    text-align: center;
}

.signupImage {
    text-align: -webkit-center;
}

.inputDiv {
   margin: auto;
    
}

.signupBody {
    background-image: url("https://source.unsplash.com/my1mDMraGf0");
    background-size: cover;
   
}

.signupInput {
    max-width: 400px;
}