label {
    padding: 20px;
}

Container fluid {
    display: flex;
    flex-direction: column;
    
}

Button {
    background-color:#004AAD ;
    color: #FF60BF;
    font-family: sans-serif;
    font-weight: bolder;
    height: 50px;
    width: 150px;
    font-size: larger;
    border-radius: 25px;
}

.signUpheader {
    font-weight: bolder;
    font-style:italic;

}

.inputDiv {
    display: flex;
    flex-direction: column;
    width:40%;
    padding: 30px;
    border:1px solid #d3d3d3;
    border-radius: 10px;
    background-color: #d3d3d3;
    font-family: sans-serif;
    
    
    
}



body {
    background-image: url("https://source.unsplash.com/my1mDMraGf0");
    background-size: cover;
}