
#journalItemDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#acitivtyTitle {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3rem; 
    
}


#activtyTitleAndHeartDiv {
    display: flex;
    align-items: center;
}

#heart {
    color: red;
    margin-left: 20px;
}



#addEntryButton {
    margin-top: 200px;
    margin-bottom: 200px;
   

    width: 250px;
    height: 50px;

    background-color:#0dcaf0;
    color: #004AAD;
    font-family: sans-serif;
    height: 60px;
    font-size:1.5em;
    border-radius: 25px;
    border: none;
}

@media only screen and (max-width: 1024px) {

   
    #addEntryButton {
        margin:auto;
        margin-top: 100px;
        margin-bottom: 100px;
       
       
    
        width: fit-content;
        font-size: 1em;
        padding: 10px 40px;
    }
}



@media only screen and (max-width: 375px){
    #acitivtyTitle{
        font-size: 2.25rem;
        margin: auto;
        margin-top: 30px;
    }

}



@media only screen and (max-width: 280px) {

    #activtyTitleAndHeartDiv {
        display: flex;
        flex-direction: column;
    }

    #acitivtyTitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #heart {
        margin-bottom: 10px;
    }

    #addEntryButton {
        margin:auto;
        margin-top: 100px;
        margin-bottom: 100px;
     
       
    
        width: fit-content;
        height: 50px;
        font-size: .9em;
        padding: 10px 35px;
    }

}

