#menu-logo{
    height: 100%;
    width: 20%;
}

#navBarContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.icon-img{
    height: 15% !important;
    width: 10%;
}


#socialIconContainer{
    display: flex;
    flex-direction: row;
    
}

div.col-md-4{
    height: 5%;
}

.img-thumbnail{
height: 55px;
}

#cardGroup{
    padding-bottom: 5%;
    padding-top: 5%;
}

#welcomeText{
    text-align: center;
}

#abtH1{
    text-align: center;
}

.abtText{
    margin-left: 10%;
    margin-right: 10%;
}

#aboutDiv{
    padding-bottom: 7%;
}

#twistBtnDiv{
    padding: 5%;
}

#cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventureBtn{
    width: 80%;
}

#addEntryDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.likeBtn{
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 5px;
}

#likeBtnDiv{
    width: 25%;
    padding-bottom: 2px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}