#menu-logo{
    height: 100%;
    width: 35%;
}

#navBarContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.nav-link{
    display: block;
    padding-left: 25px;
    font-size: 25px;
    padding-left: 10px;
    text-align: center;


}

.icon-img{
    height: 15% !important;
    width: 10%;
}


#socialIconContainer{
    display: flex;
    flex-direction: row;
    
}

div.col-md-4{
    height: 5%;
}

.img-thumbnail{
height: 55px;
}

#cardGroup{
    padding-bottom: 5%;
    padding-top: 5%;
}

#welcomeText{
    text-align: center;
}

#abtH1{
    text-align: center;
}

.abtText{
    margin-left: 10%;
    margin-right: 10%;
}

#aboutDiv{
    padding-bottom: 7%;
}

#twistBtnDiv{
    padding: 5%;
}

#cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventureBtn{
    width: 80%;
}

.journalImage{
    height: 30%;
    width: 10%;
}

.journalItemDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid black 2px;
}

#addEntryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageUpload{
    text-align: center;
    margin: 25px;
}

#entryLabel{
    margin-top: 30px;
    margin-bottom: 10px;
}

#public{
    margin: 25px;
}

#entrySubmitBtn{
    margin-bottom: 25px;
}

#likeBtnDiv{
    cursor: pointer;
   
   height: 30px; 
   width: 30px;
   margin-bottom: 20px;
}

.likeBtn{
    height: 100%;
    width: 100%;
}


.addJournalEntryBtn {
    background-color:white;
    color: #004AAD !important;
    font-family: sans-serif !important;
    height: 50px !important;
    width: 80% !important;
    font-size:100% !important;
    border-radius: 25px !important;
    border:#0dcaf0 2px solid;
    margin: 10px;
    transition-duration: 0.4s;
    padding: 2px;
}

.addJournalEntryBtn:hover {
    background-color: #0dcaf0; /* Green */
    color: white;

}

input-file-upload-button {
    background-color:#FF60BF !important ;
    color:#004AAD ;
    font-family: sans-serif;
    height: 50px;
    width: 80%;
    font-size:20px;
    border-radius: 25px;
    border: none;
}

.addImageHeader {
    font-size: 30px;
}

#entrySubmitBtn {
    background-color:white;
    color: #004AAD !important;
    font-family: sans-serif !important;
    height: 30% !important;
    width: 25% ;
    font-size:100% !important;
    border-radius: 25px !important;
    border:#FF60BF 2px solid;
    margin: 10px;
    transition-duration: 0.4s;
    padding: 2px;
}

#entrySubmitBtn:hover {
    background-color: #FF60BF; 
    color: white;
}

#contributors{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

#iconContainer{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.img-thumbnail{
    width: 25%;
}


.iconDiv{
    width: 100%;
    display: flex;
    align-items: center;
}

.col-md-4{
    width: 100%;
}

.img-thumbnail{
    margin-left: 10px;
    margin-right: 10px;

}

#h7{
    padding-bottom: 10px;
}

#journalEntryTextBox {
    width:90%;
    height:250px;
    margin-top: 40px;
    }

/* @media only screen and (max-width: 768px) {
    #journalEntryTextBox {
    width:90%;
    height:250px;
    
    }

} */

@media only screen and (max-width: 600px) {

    #entrySubmitBtn {
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 20px;

    }

    .img-thumbnail {
        width: 120px;
    }

}

