

.filterMenu{
    background-color: #FFAF82;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 10px;
}

.iconimg{
    height: 65px;

}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}

.eventureBtn {

    background-color:#004AAD ;
    color: #FF60BF !important;
    font-family: sans-serif;
    height: 50px;
    width: 80%;
    font-size:20px;
    border-radius: 25px;
}

.twistBtn {
    background-color:#FF60BF !important ;
    color:#004AAD ;
    font-family: sans-serif;
    height: 50px;
    width: 80%;
    font-size:20px;
    border-radius: 25px;

}

#twistBtnDiv {
    padding: 1%;
}