

.filterMenu{
    background-color: #FDE28B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 10px;
}

.iconimg{
    height: 65px;

}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}

.eVenturesList 
{
    max-width: 25rem;
}

.eventureBtn {

    background-color:#0dcaf0 !important;
    color: #004AAD !important;
    font-family: sans-serif !important;
    height: 50px !important;
    width: 80% !important;
    font-size:16px !important;
    border-radius: 25px !important;
    border: none !important;
}

.twistBtn {
    background-color:#FF60BF !important ;
    color:#004AAD ;
    font-family: sans-serif;
    height: 50px;
    width: 80%;
    font-size:20px;
    border-radius: 25px;
    border: none;

}

#twistBtnDiv {
    padding: 1%;
    text-align: center;
}

.filterBtn {
    background-color:#0dcaf0 !important;
    color: #004AAD !important;
    font-family: sans-serif;
    height: 50px;
    width: 70%;
    font-size:20px;
    border-radius: 25px;
    border: none;

}

.card-title {
    font-size: 35px !important;
    text-align: left;
}

.card-text {
    text-align: left;
}

.buttonDiv {
    text-align: center ;
}

.filterBtns {
    display: flex;
}

@media only screen and (max-width: 768px) {

    /* .eVenturesList {
        width: 10rem;
    } */

    .filterDropdown {
        display: block;
        
    }

    .filterBtn {

        font-size:15px;

    }

    .activityContainer{
        max-width: 100%;
    }

    .activitiesUL {
        max-width: 100%;

    }
   

    

}